
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color:white;
    font-weight: bolder;
    font-size: 4rem;
    user-select: none;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
    user-select: none;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(./img/AnyConv.com__IMG_1061.png);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* typing effect */

.container-typing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .container-typing p {
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    user-select: none;
  }
  .container-typing p span.typed-text {
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    color: #dd7732;
  }
  .container-typing p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container-typing p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #555;
   
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #333;
}


/* ---------------------------------- */
.myport{
    height: auto;
    background: rgb(174,235,240);
    background: linear-gradient(180deg, rgba(174,235,240,1) 0%, rgba(198,231,245,1) 70%, rgba(255,255,255,1) 100%);   
}


.myH2 {
    text-align:center;
    font-size: 4rem;
    padding-top: 20px;
    margin-top: 0;
    font-family: 'Newsreader', serif;
    user-select: none;
}

.avata{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.avata img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.myP {
    text-align: justify;
}
@media all and (max-width:700px){
  .myP {
    padding:2%;
  }
}
.main-data{

    width: 100%;
}
.fist-project,.next-project,.last-project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;    
    

}
.conten1,.conten2,.conten3{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    animation: fadeEffect 3s;
    margin: 30px;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.5rem;
    user-select: none;
}
.next-project{
    height: 1000px;
}
.conten2{
    position: absolute;
    right: 0;
}
.conten1 h3,.conten2 h3,.conten3 h3{
    font-size: 2.3rem;

}

.fist-project img, .last-project img, .next-project img{
    border-radius: 7%;
    width: 100%;
    
    margin-bottom: 10px;
}
     
     @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
     }

/* from hear is the footer */
footer{
    margin-top: 300px;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;
    background-color: #7d7d7d;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
}
.contact{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

}

.contact a{
    margin-top: 30px;
}
address{
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    user-select: none;
}
address a{
    text-decoration: none;
    color: #00CCFF;

}
a.come-out{
    position: relative;
}
a.come-out:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

a.come-out:hover::before{
    visibility: visible;
    width: 100%;
}
.contact a{
    text-decoration: none;
    color: #ccc;
    margin-bottom: 20px;
    margin: 15px;
    font-size: 3rem;
}

a.come-out{
    position: relative;
}
a.come-out:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

a.come-out:hover::before{
    visibility: visible;
    width: 100%;
}

.copyright{
    padding: 0 20px 10px 0;
    float: right;
    margin-top: 500px;

}
